:root {
  --header-bg-color: #ffffff;
  --main-bg-color: #e5e5e5;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --text-color: #212121;
}
/* общие */
body,
body address {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
/* хедер */
header {
  background-color: var(--header-bg-color);
}
header > .container {
  display: flex;
  align-items: center;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/*логотип вебстудия*/
.logo {
  margin-right: 93px;
}
.web,
.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.web {
  color: var(--accent-color);
}
/*ссылки навигации*/
.nav-links {
  display: flex;
}
.nav-links > .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
}

/* имейл и  телефон */
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts > li:not(:last-child) {
  margin-right: 50px;
}
.header-contact {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
.header-contact:focus,
.header-contact:hover {
  color: var(--accent-color);
}

/*стартовая страница*/
/*герой*/

.hero > .container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero,
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-bg-color);
  background-color: var(--footer-bg-color);
}
.main-title {
  padding-left: 237px;
  padding-right: 237px;
}
/* кнопка в герое*/
.hero-button {
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}
.button:focus,
.button:hover {
  color: var(--header-bg-color);
  background-color: var(--accent-color);
}

/*наши особенности главная страница*/
.peculiarities {
  display: flex;
  margin-left: auto;
  padding-top: 94px;
  margin-bottom: 94px;
}

.peculiarities > li:not(:last-child) {
  margin-right: 30px;
}
.p-item {
  width: 270px;
}

.p-item > p {
  margin-top: 10px;
  margin-bottom: 0;
}

.p-item > h3 {
  margin: 0;
}
.peculiarities h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.peculiarities p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*чем занимаемся. главная страница*/

/*.our-business {
  text-align: center;
  margin-bottom: 50px;
} */

.business-pict {
  display: flex;
  margin-left: auto;
}

.business-pict > li {
  margin-bottom: 94px;
}
.business-pict > li:not(:last-child) {
  margin-right: 30px;
}
.our-business .team,
h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

/* наша команда */
/* .team {
  text-align: center;
} */
.team-cards {
  display: flex;
}
.team-cards > li:not(:last-child) {
  margin-right: 30px;
}

.team-cards h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-cards p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

/* страница портфолио*/
main {
  background-color: var(--main-bg-color);
}
/* кнопки карточек */
.buttons {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.73;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

.button:focus,
.button:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}
/* карточки портфолио*/
.pf-cards h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.pf-cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*футер*/
footer {
  background-color: var(--footer-bg-color);
}
.f-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-bg-color);
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-bg-color);
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
